@using OzonDomains.Models
@model UserAccess

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<div>
    <h4>UserAccess</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableOrderColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableOrderColumns)
        </dd>
    </dl>
    
    <form asp-area="Studio2" asp-controller="UserAccesses" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-area="Studio2" asp-controller="UserAccesses" asp-action="Index">К списку прав</a>
    </form>
</div>
