@using OzonOrdersWeb.ViewModels.JobViewModels

@model List<JobResultViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Результаты фоновой подгруки</h1>

<table class="table table-striped">

</table>
