<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Установить тайм-аут HTTP-запросов -->
    <add key="httpTimeout" value="1200" />
    <!-- Ограничить количество параллельных запросов к одному источнику -->
    <add key="maxHttpRequestsPerSource" value="20" />
  </config>
  <packageSources>
    <!-- Основной источник NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
