{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information",
      "TecDocApi.Application.Services": "Information"
    }
  },
  "ConnectionStrings": {
    "TecDocDatabase": ""
  }
}

