@{
    string fileLink = ViewData["FileLink"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <title>View File</title>
</head>
<body>
    <h1>View File</h1>
    <a href="@fileLink" target="_blank">View File</a>
</body>
</html>
